$grey: #F4F4F4;
$grey--50: #D3D3D3;
$white: #FFF;
$navy: #240066;
$unicornblue: #3c3bfc;
$unicornblue--60: rgba(60, 59, 252, .6);
$unicornblue--30: rgba(60, 59, 252, .3);
$fairygreen: #89FF98;
$fairygreen--60: rgba(137, 255, 152, .6);