{{ $data := index site.Data site.Language.Lang }}

{{ if $data.team.team.enable }}
  {{ with $data.team.team }}
  <section class="bg--grey pt-11 pb-11 "  id="team">
    <div class="container d-flex">
      <div class="row">
      <div class="col-12 pb-2">
        
        <h1>
          {{ .title | markdownify }}
        </h1>
        <img class="Line Line--3" src="/img/divider-arrow-down-sm.svg" alt="Arrow down" width="25.97" height="auto">
      </div>
  
      {{ range .team_member}}
        <div class="col-12 col-lg mb-5">
          <div class="card Usercard">
            <div class="card-body d-flex flex-column align-items-center">
              <img class="Usercard__Image img-fluid lozad" src="{{ .image | absURL }}" alt="{{ .name }}">
  
              <p class="card-text">
                <h3 class="text-center">
                  {{ .name }}
                </h3>
                {{ .email }}
              </p>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
