<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description"
		content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">

	<meta property="og:image" content="{{ `img/lets-yester.png` | absURL }}" />
	<meta property="og:url" content="https://yester.eu" />
	<meta property="og:type" content="website" />
	<meta property="og:title"
		content="{{ with .Title }}{{ . }}{{ else }}{{ with site.Params.title }}{{ . }}{{ end }}{{ end }}" />
	<meta property="og:description"
		content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}" />



	{{ range site.Params.plugins.css }}
	<link rel="stylesheet" href="{{ .link | absURL }}">
	{{ end }}

	{{ $styles := resources.Get "scss/style.scss" | toCSS | postCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

	<link rel="shortcut icon" href="{{ `img/favicon.png` | absURL }}" type="image/x-icon">
	<link rel="icon" href="{{ `img/favicon.png` | absURL }}" type="image/x-icon">

</head>